    <div class=" col-md-3" style="padding: 0">
        <nav>
            <ul>
                <li><button mat-button routerLink="LoginComponent" routerLinkActive="active">Login</button></li>
                <li><button mat-button routerLink="CheckboxComponent" routerLinkActive="active">Autocomplete</button></li>
                <li><button mat-button routerLink="DatepickerComponent" routerLinkActive="active">Datepicker</button></li>
                <li><button mat-button routerLink="GridComponent" routerLinkActive="active">Grid</button></li>
                <li><button mat-button routerLink="ButtonComponent" routerLinkActive="active">Button</button></li>
                <li><button mat-button routerLink="ChipsComponent" routerLinkActive="active">Chips</button></li>
                <li><button mat-button routerLink="SlidenavComponent" routerLinkActive="active">Slide nav</button></li>
                <li><button mat-button routerLink="MenuComponent" routerLinkActive="active">Menu</button></li>
                <li><button mat-button routerLink="TabComponent" routerLinkActive="active">Tabs</button></li>
                <li><button mat-button routerLink="CardComponent" routerLinkActive="active">Cards</button></li>
                <li><button mat-button routerLink="AccordianComponent" routerLinkActive="active">Accordian</button></li>
                <li><button mat-button routerLink="StepperComponent" routerLinkActive="active">Stepper</button></li>
                <li><button mat-button routerLink="ProgressbarComponent" routerLinkActive="active">Progressbar</button></li>
                <li><button mat-button routerLink="ProgressSpinnerComponent" routerLinkActive="active">Progress Spinner</button></li>
            </ul>
        </nav>
    </div>
    <div class=" col-md-9">
        <router-outlet></router-outlet>
    </div>
